HOST=0.0.0.0
PORT=8000
DATABASE_CONNECTION_TIMEOUT=60000
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=5
ENCRYPTION_KEY=+PKFPDmNUUO3sbLBET33FA==
TRANSFER_TOKEN_SALT=xWCzddTX88x44cJ+DoRz5A==
ADMIN_JWT_SECRET=E9khUyGTdaVCxBBNqrVhCg==
API_TOKEN_SALT=92J9JK812JyhvHAx+9PJkA==
APP_KEYS=6dMcQdXaF3cxGHicEWBl7Q==,eMbKQGF0HL340R6LQihoUg==,VMCutNRbA93zmgz+dQEAMg==,VTx4JIT0VTSym42c+OdBBw==
JWT_SECRET=strapi-jwt-secret
DATABASE_SSL=false
DATABASE_CLIENT=postgres
DATABASE_HOST=apps-postgresql-cluster-rw.lowops-data.svc.cluster.local
DATABASE_URL=postgresql://strapi-app-staging-role:B_3~p7TFwqd7hbQ7sZOZxqIPC@apps-postgresql-cluster-rw.lowops-data.svc.cluster.local/strapi-app4-staging-db
DATABASE_USER_NAME=strapi-app-staging-role
DATABASE_PASSWORD=B_3~p7TFwqd7hbQ7sZOZxqIPC
DATABASE_NAME=strapi-app-staging-db